* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    all: unset;
    font-family: 'Kumbh Sans', sans-serif;
    transition: .3s;
}

body {
    margin: 1rem 0;
}

.header {
    margin-inline: auto;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header__left {
    display: flex;
    align-items: flex-end;
}

.header__menu {
    margin-right: 1rem;
}

.header__link {
    text-decoration: none;
    color: unset;
    font-weight: 700;
}

.header__right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header__cart {
    position: relative;
    top: 2px;
    fill: currentColor;
    color: #69707D;
}

.header__cartimg, .header__cart svg {
    transform: scale(.9);
}

.header__cart:hover {
    color: black;
}

.header__amount {
    position: absolute;
    top: -4px;
    right: -5px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-size: .6rem;
    margin: 0;
    padding-inline: .35rem;
    border-radius: 2rem;
}

.header__avatar {
    width: 1.5rem;
}

.header__avatar:hover {
    border: 1px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

@media (min-width: 768px) {
    .header {
        max-width: 768px;
        align-items: flex-start;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid hsl(220, 14%, 90%);
    }

    .header__left {
        align-items: start;
        gap: 3rem;
        padding-top: .7rem;
    }

    .header__nav {
        display: flex;
        gap: 2rem;
    }

    .header__link {
        color: hsl(219, 9%, 45%);
        font-weight: normal;
        font-size: .85rem;
        padding-block: .2rem 2.5rem;
    }

    .header__link:hover {
        color: black;
        border-bottom: 3px solid hsl(26, 100%, 55%);
    }

    .header__avatar {
        width: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .header {
        max-width: 1024px;
        margin-bottom: 5rem;
    }
}

main {
    margin-bottom: 5rem;
}

.main__grid {
    display: grid;
}

.grid__left {
    width: 100%;
}

.images {
    position: relative;
    width: 100%;
    height: 75vw;
    object-fit: cover;
}

.images__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -2; */
    object-fit: cover;
}

.images__image--active {
    z-index: -1;
}

.images__image--inactive {
    z-index: -2;
}

.cart {
    padding-inline: 1rem;
    margin-top: .5rem;
}

.cart__sneaker {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
}

.cart__title {
    font-size: 1.7rem;
    margin-top: 1rem;
}

.cart__description {
    color: hsl(219, 9%, 45%);
    line-height: 1.5rem;
}

.prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prices__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
}

.prices__price {
    font-size: 1.7rem;
}

.prices__percentage {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-size: 1rem;
    padding: .2rem .5rem;
    border-radius: .4rem;
}

.prices__right {
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
}

.items {
    display: flex;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    border-radius: .5rem;
    padding-inline: 1.5rem;
    margin-bottom: 1rem;
}

button:hover, .header__menu:hover, .header__avatar:hover, .header__cart:hover, .carousel__arrow {
    cursor: pointer;
}

.items__button:hover {
    opacity: .75;
}

.cart__button:hover, .checkout__button:hover {
    background-color: hsla(26, 100%, 55%, .75);
}

.button, .cart__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-weight: 700;
    width: 100%;
    padding-block: 1rem;
    border-radius: .5rem;
}

.cart__button img {
    position: relative;
    top: -2px;
    pointer-events: none;
    width: 17px;
}

@media (min-width: 768px) {
    main {
        max-width: 768px;
        margin-inline: auto;
    }

    .main__grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .grid__left {
        max-width: unset;
        margin-inline: unset;
        padding-inline: 1rem;
    }

    .images {
        height: auto;
        aspect-ratio: 1;
    }

    .images__image {
        border-radius: .6rem;
        height: auto;
    }

    .thumbnail, .thumbnail__modal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .thumbnail__button, .thumbnail__modalbutton {
        border-radius: .5rem;
        overflow: hidden;
    }

    .thumbnail__image:hover, .thumbnail__modalimage:hover {
        cursor: pointer;
        opacity: .5;
    }

    .thumbnail__button--active, .thumbnail__modalbutton--active {
        border: 2px solid hsl(26, 100%, 55%);
    }

    .thumbnail__button--active .thumbnail__image, .thumbnail__modalbutton--active .thumbnail__modalimage {
        opacity: .5;
    }

    .cart {
        max-width: unset;
        margin-inline: unset;
        margin-top: 0;
        padding-inline: 1rem;
    }

    .cart__sneaker {
        margin-top: 0;
    }

    .cart__description {
        font-size: .9rem;
        margin-bottom: 0;
    }

    .cart__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .items {
        flex-wrap: wrap;
        width: 40%;
        padding-inline: 1rem;
        margin-bottom: 0;
    }

    .cart__button {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 1024px;
    }

    .grid__left {
        padding-inline: 2rem;
    }

    .cart {
        padding-inline: 2rem;
    }

    .cart__title {
        font-size: 2.2rem;
    }

    .prices {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        margin-block: 1.5rem 1rem;
    }

    .prices__price, .prices__percentage {
        margin: 0;
    }

    .prices__right {
        margin-top: .5rem;
    }
}

.hiddenCart {
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background-color: white;
    border-radius: .5rem;
    width: 97%;
    max-width: 375px;
    box-shadow: 0 8px 12px 0px rgba(0, 0, 0, 0.2);
}

.hiddenCart__title {
    padding: 1.2rem 0 1.2rem 1.5rem;
    margin-block: 0;
    border-bottom: 1px solid hsl(220, 14%, 90%);
}

.hiddenCart__list {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    margin-bottom: .8rem;
}

.hiddenCart__text {
    color: hsl(219, 9%, 45%);
}

.hiddenObj {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: hsl(219, 9%, 45%);
    margin-block: .4rem .3rem;
}

.hiddenObj__img {
    width: 3.5rem;
    object-fit: cover;
    border-radius: .3rem;
}

.hiddenObj__text, .hiddenObj__price {
    margin-block: 0 .2rem;
}

.hiddenObj__price {
    word-spacing: .1rem;
}

.hiddenObj__span {
    color: black;
    font-weight: 700;
}

@media (min-width: 768px) {
    .hiddenCart {
        top: 5rem;
        left: unset;
        transform: unset;
        right: 4%;
        width: 20rem;
    }

    .hiddenObj__img {
        margin-right: 1rem;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay__div {
    background-color: white;
    width: 66%;
    max-width: 14rem;
    min-height: 100vh;
    padding: 1.3rem 1.5rem;
}

.overlay__close {
    margin-bottom: 3rem;
}

.header__nav--overlay {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .modal--active {
        display: unset;
    }

    .modal__div {
        position: relative;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28rem;
    }

    .modal__close {
        position: absolute;
        top: -28px;
        right: 0;
        width: 1rem;
        height: 1rem;
        -webkit-mask: url(../images/icon-close.svg) no-repeat;
        mask: url(../images/icon-close.svg) no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        background-color: white;
    }

    .modal__close:hover {
        background-color: hsl(26, 100%, 55%);
    }

    .modal__images {
        position: relative;
        width: 28rem;
        height: 28rem;
    }

    .modal__image {
        border-radius: .6rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        /* z-index: -2; */
    }

    .modal__image--active {
        z-index: -1;
    }

    .modal__image--inactive {
        z-index: -2;
    }

    .thumbnail__modal {
        margin-inline: 2.5rem;
    }

    .thumbnail__modalbutton {
        background-color: white;
    }
}

.fadein {
    animation: in .4s;
}

.fadeout {
    animation: out .4s;
}

.fadeinOpacity {
    animation: inOpacity .4s;
}

.fadeoutOpacity {
    animation: outOpacity .4s;
}

.fadeinOpacityFull {
    animation: inOpacityFull .4s;
}

.fadeoutOpacityFull {
    animation: outOpacityFull .4s;
}

.fadeoutOpacityFullZ {
    animation: outOpacityFullZ .6s;
}

.fadein, .fadeout, .fadeinOpacity, .fadeoutOpacity, .fadeinOpacityFull, .fadeoutOpacityFull, .fadeoutOpacityFullZ {
    animation-fill-mode: forwards;
}

@keyframes in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes inOpacity {
    0% {
        background-color: rgba(0,0,0,0);
    }
    100% {
        background-color: rgba(0,0,0,0.5);
    }
}

@keyframes outOpacity {
    0% {
        background-color: rgba(0,0,0,0.5);
    }
    100% {
        background-color: rgba(0,0,0,0);
    }
}

@keyframes inOpacityFull {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes outOpacityFull {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}  

@keyframes outOpacityFullZ {
    0% {
        opacity: 1;
        z-index: 0;
    }
    100% {
        opacity: 0;
    }
}  

.carousel__arrow {
    all: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    stroke: currentColor;
}

.carousel__arrow svg, .carousel__arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
}

.carousel__arrow:hover {
    color: hsl(26, 100%, 55%);
}

.carousel__arrow-left {
    left: 1.5rem;
}

.carousel__arrow-right {
    right: 1.5rem;
}

.carousel__arrow-left-modal {
    left: 0;
    transform: translate(-50%, -50%);
}

.carousel__arrow-right-modal {
    right: 0;
    transform: translate(50%, -50%);
}

.carousel__arrow-left svg, .carousel__arrow-left-modal svg {
    transform: translate(-60%, -50%);
}

.carousel__arrow-right svg, .carousel__arrow-right-modal svg {
    transform: translate(-40%, -50%);
}

.pointerEvents {
    pointer-events: none;
}

@media (min-width: 768px) {
    .pointerEvents {
        pointer-events: unset;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
}